doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Login
    link(rel="stylesheet", href="/styles/login.css")  
  body
    section.login-container
      .login-box
        h2 Inicia Sesión
        form(action="/admin/login" method="POST")
          div
            label(for="username") Usuario:
            input(type="text" id="username" name="username" placeholder="Escribe tu usuario" required)
          div
            label(for="password") Contraseña:
            input(type="password" id="contraseña" name="contraseña" placeholder="Escribe tu contraseña" required)
          button(type="submit") Iniciar sesión
