doctype html
html
  head
    title Login
  body
    h2 Ingresa como Admin
    form(action="/admin/login" method="POST")
      label(for="username") Username:
      input(type="text" name="username" id="username" required)
      
      label(for="contrase単a") Contrase単a:
      input(type="text" name="contrase単a" id="contrase単a" required)
      
      button(type="submit") Entrar