/* Centrar el título en la parte superior */
.title {
    text-align: center;  /* Centra el texto */
    width: 100%;         /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin-top: 20px;    /* Espaciado desde el borde superior */
    font-size: 24px;     /* Tamaño del título */
}

/* Estilo para los productos */
.productos-container {
    display: flex;
    justify-content: center;  /* Centra los productos en el contenedor */
    flex-wrap: wrap;          /* Permite que los productos se acomoden en varias filas si es necesario */
    gap: 20px;                /* Espacio entre los productos */
    padding: 20px;            /* Espaciado interno del contenedor */
}

.producto {
    width: 200px;             /* Ancho fijo para cada producto */
    text-align: center;       /* Centra el contenido del producto */
}

.producto img {
    width: 100%;              /* Hace que las imágenes llenen el ancho de su contenedor */
    height: auto;             /* Mantiene la proporción de la imagen */
}

.producto h3 {
    font-size: 18px;          /* Tamaño de fuente del nombre del producto */
    margin-top: 10px;         /* Espacio por encima del nombre del producto */
}

.producto p {
    font-size: 16px;          /* Tamaño de fuente de la descripción */
    color: #555;              /* Color de texto gris para la descripción */
}

.producto button {
    background-color: #0088ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.producto button:hover {
    background-color: #0056b3;
}


.carritoboton{
    background-color: aqua;
    border-bottom: rgba(240, 248, 255, 0);
}

.alerta {
    position: fixed;  /* Fija el alert sobre la pantalla */
    top: 20px;        /* Espaciado desde la parte superior */
    left: 50%;        /* Coloca el alert a la mitad de la pantalla */
    transform: translateX(-50%);  /* Centrado horizontal */
    background-color: #13d00c85;  /* Color de fondo */
    color: hsl(0, 0%, 0%);  /* Color del texto */
    padding: 10px;
    border: 1px solid #3ea30095;  /* Borde del alert */
    border-radius: 3px;  /* Bordes redondeados */
    opacity: 1;
    animation: fadeOut 3s forwards;  /* Animación de desvanecimiento */
    width: 20%;  /* Ancho del alert */
    text-align: center;  /* Alineación del texto */
    z-index: 9999;  /* Asegura que esté por encima de otros elementos */
}

/* Animación para desvanecer la alerta */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
