/* styles.css */


body {
    display: flex;
    justify-content: center; /* Centra el contenedor horizontalmente */
    align-items: center; /* Centra el contenedor verticalmente */
    height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la pantalla */
    margin: 0;
}

.title {
    text-align: center; /* Centra el texto dentro del contenedor */
}


/* Estilo para la alerta */
.alerta {
    position: fixed;  /* Fija el alert sobre la pantalla */
    top: 20px;        /* Espaciado desde la parte superior */
    left: 50%;        /* Coloca el alert a la mitad de la pantalla */
    transform: translateX(-50%);  /* Centrado horizontal */
    background-color: #13d00c85;  /* Color de fondo */
    color: hsl(0, 0%, 0%);  /* Color del texto */
    padding: 10px;
    border: 1px solid #3ea30095;  /* Borde del alert */
    border-radius: 3px;  /* Bordes redondeados */
    opacity: 1;
    animation: fadeOut 3s forwards;  /* Animación de desvanecimiento */
    width: 20%;  /* Ancho del alert */
    text-align: center;  /* Alineación del texto */
    z-index: 9999;  /* Asegura que esté por encima de otros elementos */
}

/* Animación para desvanecer la alerta */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Estilos para los productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    width: 200px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

.producto h3 {
    font-size: 16px;
    margin-top: 10px;
}

.producto p {
    font-size: 14px;
    color: #555;
}

.producto button {
    background-color: #0088ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.producto button:hover {
    background-color: #0056b3;
}
